@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

hr{
    width: 70%;
    background-color: black;
    color: #86198f;
    height: 3px;
    margin-top: 5px;
}